.sports-status, .static-status{
    width: 100%;
}
.sports-status{
    margin-bottom: 1rem;
}
.head {
    width: 80%;
    height: 0.8rem;
    padding: 0.3rem 0rem 0.2rem 0.8rem;
}
.head .title{
    font-size: 0.45rem;
    font-weight: 600;
}
.body {
    width: 100%;
}
.body .form-group{
    padding: 0rem 0rem 0rem 1rem;
    width: 80%;
    height: 0.65rem;
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
}
.form-group .icon{
    width: 0.7rem;
    height: 0.65rem;
}
.form-group .content{
    margin-left: 0.2rem;
    line-height: 0.65rem;
    font-size: 0.4rem;
    font-weight: 500;
    height: 0.65rem;
    display: inline-block;
    vertical-align: top;
}
